/* Stylesheet for uniform tilings
 * @(#) $Id$
 * 2020-05-14: 6 colors
 * 2020-04-25, Georg Fischer
 */
rect    { fill:white; stroke: white; stroke-width:0.1 }
line    { stroke-width:0.15}
circle  { stroke-width:0.01 }
text    { stroke-width:0.008; font: 0.2px sans-serif;
         text-anchor: middle; alignment-baseline: center }
.dash   { stroke-dasharray:0.06 }
.l0,.c0 { fill: Magenta       ; stroke: Magenta       }
.l1,.c1 { fill: Crimson       ; stroke: Crimson       }
.l2,.c2 { fill: SandyBrown    ; stroke: SandyBrown    }
.l3,.c3 { fill: ForestGreen   ; stroke: ForestGreen   }
.l4,.c4 { fill: DarkTurquoise ; stroke: DarkTurquoise }
.l5,.c5 { fill: Blue          ; stroke: Blue          }
.l6,.c6 { fill: black         ; stroke: black         }
.l7,.c7 { fill: gray          ; stroke: gray          }
.l8,.c7 { fill: white         ; stroke: white         }

.t0 { fill: white         ; stroke: white }
.t1 { fill: white         ; stroke: white }
.t2 { fill: black         ; stroke: black }
.t3 { fill: white         ; stroke: white }
.t4 { fill: black         ; stroke: black }
.t5 { fill: white         ; stroke: white }
.t6 { fill: white         ; stroke: white }
.t7 { fill: white         ; stroke: white }
.t8 { fill: white         ; stroke: white }

.tent { fill: lightgray   ; stroke: lightgray   ; stroke-width:0.10  }
.test { fill: lightsalmon ; stroke: lightsalmon ; stroke-width:0.03  }
.nota { fill: black; stroke: black; stroke-width:0.01; font: 0.8px sans-serif; 
        text-anchor: start; alignment-baseline: top }

